@font-face {
  font-family: "ChangaOneItalic";
  src: url("../../public/fonts/ChangaOne-Italic.ttf");
}

@font-face {
  font-family: "ChangaOneRegular";
  src: url("../../public/fonts/ChangaOne-Regular.ttf");
}

@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../../public/fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../../public/fonts/RobotoCondensed-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  p,
  h1 {
    text-align: justify;
  }
}

body {
  display: flex;
  height: 100dvh;
  width: 100vw;
  min-width: fit-content;
  overflow: hidden;
  background-color: black;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../../public/images/bg_desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.doodle {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 150px;
  width: auto;
  opacity: 0.5;
}

.doodle-mobile {
  display: none;
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
  p {
    width: 400px;
    text-align: center;
    font-family: "ChangaOneRegular";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    margin-right: 5px;
    padding: 10px 20px;
    border-radius: 50px;
    background: #af3434;
    border: 2px solid white;
  }
  img {
    display: none;
    width: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .app {
    background-image: url("../../public/images/bg_mobile.svg");
    flex-direction: column-reverse;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .doodle {
    display: none;
  }

  .doodle-mobile {
    display: block;
    position: relative;
    height: 120px;
    width: auto;
    margin-left: auto;
    margin-top: auto;
    opacity: 0.5;
  }

  .mobile-header {
    p {
      width: auto;
    }
    img {
      display: block;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .doodle {
    display: none;
  }
}
