.achvs-wrapper {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  & > div {
    margin-bottom: 30px;
    div{
      display: flex;
      margin-left: 15px;
    }
    h1 {
      font-size: 24px;
      font-weight: 600;
      max-width: 400px;
      margin-bottom: 15px;
    }
    p {
      font-size: 18px;
      margin-bottom: 5px;
      margin-left: 5px;
    }
  }
}
